#wrapper {
    margin: 50px;
}

.jumbotron {
    text-align: center;
    background-color: cornflowerblue;
}

img{
    display: inline-block;
    vertical-align: middle;
    border: none;
    overflow: hidden;
    height: auto;
    width: 100%;
}

body{
    background-color: aquamarine;
}

h5{
    font-size: 40px;
}

h1{
    font-family: cursive;
    font-weight: bold;
}